:root {
  /* Primary Colors */
  --primary-color: #3498db; /* Blue */
  --secondary-color: #2ecc71; /* Green */
  --accent-color: #e74c3c; /* Red */

  /* Neutral Colors */
  --background-color: #f5f5f5; /* Light Gray */
  --surface-color: #ffffff; /* White */
  --border-color: #dcdcdc; /* Light Border Gray */
  --text-color: #333333; /* Dark Gray */

  /* Status Colors */
  --success-color: #2ecc71; /* Green */
  --error-color: #e74c3c; /* Red */
  --warning-color: #f39c12; /* Orange */
  --info-color: #3498db; /* Blue */

  /* Button Colors */
  --button-primary-bg: var(--primary-color);
  --button-primary-text: #ffffff;
  --button-secondary-bg: var(--secondary-color);
  --button-secondary-text: #ffffff;
  --button-accent-bg: var(--accent-color);
  --button-accent-text: #ffffff;

  /* Shadows and Highlights */
  --shadow-color: rgba(0, 0, 0, 0.1);
  --highlight-color: rgba(255, 255, 255, 0.7);

  --input-background: #ffffff;
  --input-border: #dcdcdc;
  --input-focus-border: #3498db;
  --input-placeholder: #888888;

  /* Typography */

  --font-family: "Arial, sans-serif";
  --heading-color: #333333;
  --paragraph-color: #666666;
  --font-size-h1: 2.5em;
  --font-size-h2: 2em;
  --font-size-h3: 1.75em;
  --font-size-h4: 1.5em;
  --font-size-h5: 1.25em;
  --font-size-h6: 1em;
  --font-size-body: 1em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}
